body {
    background: white;
    margin:0px;
}
ul {
  padding:0;
}

li {
  list-style-type: none;
}
.brands{
  display: flex;
  justify-content: center;
}

.brands li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.home-list {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home-item {
  margin: 20px;
  text-align: center;
}

.space-list-items{
  margin-bottom: 7px;
}

.phonePic {
  width: 150px;
  height: 200px
}




.header-bar {
  background: black;
  display:flex;
}


.header-bar a{
  text-decoration: none;
  color:white;
}

.store-name {
  width: 90%;
  margin-left: 2%;

}


.shop-cart{
  width: auto;
  display:flex;
  
}

.shop-cart li{
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}



